/*admin CSS*/
.adminTable{
  width: 90%;
}

/*easy button*/
.leaflet-bar button { 
  font-size: 1.5em; 
  background-color: black;
  color: white;
  transition: all 0.5s;
}

.popover{
  background-color: black;
}

#menu:hover {
  transition: all 0.5s;
  width: 100px !important; 
}

#filter:hover{
  transition: all 0.5s;
  /* height: 100px !important;  */
  width: 100px !important; 
}

.icon{
  font-size: 32px;
}

.popover{
  text-align: center;
}

.menu-btn{
  color: #818181;
  text-decoration: none;
}

.menu-btn:hover{
  color: white;
  text-decoration: none;

}

.dropdown-menu{
  width: 100% !important;
}

.drop-menu-btn{
  color: #818181 !important;
  text-decoration: none;
  font-size: 16px !important;
  padding: 0px !important;
  margin-left: 15% !important;
}

.drop-menu-btn:hover{
  color: black !important;
}

#starting_date{
  display: none;
}

#end_date{
  display: none;
}
/* modal edited */
.modal-dialog{
  overflow-y: initial !important
}
.modal-body{
  height: 85vh;
  overflow-y: auto;
}

.active {
  color: greenyellow;
  background-color: #f1f1f1;
}

body {
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  height: 100vh;
  transition: all 0.3s;
}
.info {
  padding: 6px 8px;
  font: 16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  transition: all 0.3s;
}
.infoRoute{
  padding: 6px 8px;
  font: 16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,1);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  transition: all 0.3s;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
.legend {
  line-height: 18px;
  color: #555;
  transition: all 0.3s;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
.close {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.close a{
  margin: 0 0 5px;
  color: #777;
}

body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
}

.sidebar a {
  padding: 8px 8px 8px 25%;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.menu{
  color: #818181;
  cursor: pointer;
}

.menu:hover {
color: #f1f1f1;
}

.sidebar .closebtn {
margin-left: 25%;
}

.input-data{
  width: 100%;
  height: 30px;
}

.symbol-input{
  font-size: 20px;
}

.openbtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  z-index: 500;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.page-content {
  transition: margin-left .5s;
  top: 0;
}

.add{
  font-weight: bold;
  width: 25%;
  height: 42px;
  color: white;
  background: #17609F;
  border-color: white;
  border-radius: 8px;
  margin: auto;
}

#show_point_detail{
  text-align: center;
}

.bold_text{
  font-weight: bold;
}
.leaflet-routing-alt{
  height: 250px !important;
}

/* On smaller screens, where width is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media only screen and (max-width: 450px) {
  .leaflet-routing-container{
    width: 70% !important;
  }
  .leaflet-routing-alt{
    height: 80px !important;
  }
  .infoRoute{
    width: 70%;
    font-size: 12px;
    border-radius: 3px;
  }
  .closebtn{
    margin-left: 25%;
  }
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
  .info{
    font-size: 14px;
    border-radius: 3px;
  }
}